<!DOCTYPE html>
<head>

<title>POLLING BOOTH</title>
</style>
<link rel="stylesheet" href="css/style.css"type="text/css">
</head>
<body align:center bqackgorund>
<fieldset>
  <legend>Polling Booth</legend> 

<form action="" style=text-align:center">
<h3 style="background-color:lightgreen;color:black;text-align:center">LOGIN</h3><br>s<br>
Mobile No <input type="Number" name="Mobile"  placeholder="Enter mobile"><br><br>

Password <input type="Password" name="Password"  placeholder="Enter password"><br><br>

Email <input type="Email" name="Email"  placeholder="Enter Email"><br><br>


select Role<Select name="role"><option value="1">Voter</option>
<option value="2">Group</option>

</select><br><br>

<button  style="padding: 5p;font-size:15px;background-color:#3498db;color:white;border-radius: 5px;" >Login</button><br><br>

new user <a href="Registration.html">Register here</a>




<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</fieldset>
</body>
</html>